@page "/s"
@using IotRemoteLaboratory.Models
@using IotRemoteLaboratory.Mqtt
@using System.Text.Json
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>

Welcome to your new app.
