@page "/"
@using IotRemoteLaboratory.Models
@using IotRemoteLaboratory.Mqtt
@using System.Text.Json
@rendermode InteractiveServer


<div style="padding: 16px;">

<h1>Iot Remote Laboratory</h1>

Welcome to your new app.
</div>