.videoplayer_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-top: 44px;
}

.button_active_indicator_wrapper {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.videoplayer_button button {
    width: 100px;
    height: 32px;
}

.button_active_indicator {
    background-color: #585252;
    /* background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */
    width: 30px;
    height: 30px;
    border-radius: 2rem;
}

    .button_active_indicator.isActive {
        background-color: forestgreen;
    }
