
<div class="videoplayer_button">
	<div class="button_active_indicator_wrapper">
		<span id="btn_indicator_1" class="button_active_indicator"></span>
		<button id="btn_1">Кнопка 1</button>
	</div>
</div>

                           
@code {

}
