@using System.Collections.Generic;
@using System;
@using IotRemoteLaboratory.Models
@using System.Text.Json
@using IotRemoteLaboratory.Mqtt
@rendermode InteractiveServer

<style>
    .terminal-block {
        display: flex;
        width: 544px;
        height: 437px;
        padding: 8px;
    }

    .terminal-block_content {
        flex: 0 1;
    }

    .terminal-block_input {
        flex: 0 2;
    }

</style>

<div class="terminal-block">

</div>

@code {
    [Inject]
    public MqttPublisher Publisher { get; set; }

    [Parameter]
    public List<string> TerminalContent { get; set; }

    private string inputStr = string.Empty;


    private void SendMessage()
    {
        Publisher.PublishMessageAsync(Topics.TerminalDataTo, inputStr);
        // чистим поле ввода.
        inputStr = string.Empty;
    }
}