@inherits LayoutComponentBase

<style>
    .page {
        display: flex;
        background: var(--main-background);
        height: 100%;
    }

    .page__sidebar {
        flex: 0 0 312px;
    }

    .page__workflow {
        padding: 16px;
        flex: 1 0 0;
    }
</style>

<div class="page">
    <div class="page__sidebar">
        <NavMenu />
    </div>

    <main class="page__workflow">
        @Body
    </main>
</div>

@code {
    private bool test;
}

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@

@* sidebar *@

