@using IotRemoteLaboratory.Models
@rendermode InteractiveServer

<div class="sidebar">
    <div class="sidebar__header sidebar__item">
        <div class="sidebar-header">
            <div class="sidebar-header__logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 53" fill="none">
                    <path d="M34.6808 32.2165C35.4109 34.1212 35.1728 35.899 33.9665 37.5498C32.7601 39.2006 31.0617 40.026 28.8713 40.026C27.8236 40.026 26.8319 39.7562 25.896 39.2165C24.9589 38.6768 24.2681 37.9625 23.8236 37.0736C21.1887 37.4546 19.0065 36.7797 17.277 35.0489C15.5462 33.3193 14.8395 31.1054 15.157 28.407C14.2046 27.8673 13.4744 27.1295 12.9665 26.1936C12.4586 25.2565 12.2046 24.1847 12.2046 22.9784C12.2046 21.0419 13.0859 19.4781 14.8484 18.287C16.6097 17.0971 18.3316 16.8514 20.0141 17.5498L22.9665 18.7879C23.6014 17.8038 24.4427 17.0019 25.4903 16.3822C26.5379 15.7638 27.6649 15.4228 28.8713 15.3594V11.4546H31.7284V15.7403C32.903 16.0895 33.8712 16.6368 34.6332 17.3822C35.3951 18.1289 36.0458 19.1689 36.5855 20.5022H40.776V23.3593H36.8712C36.8078 24.5657 36.4827 25.6927 35.896 26.7403C35.3081 27.7879 34.522 28.6292 33.5379 29.2641L34.6808 32.2165ZM22.8713 33.3593C22.8713 32.5022 22.943 31.6692 23.0865 30.8603C23.2287 30.0501 23.4427 29.2641 23.7284 28.5022C22.9982 28.8514 22.2122 29.0971 21.3703 29.2393C20.5297 29.3828 19.6967 29.4228 18.8713 29.3593C18.8713 30.5974 19.2281 31.5739 19.9417 32.2889C20.6566 33.0025 21.6332 33.3593 22.8713 33.3593ZM19.3474 25.5498C20.3633 25.5498 21.2605 25.4228 22.0389 25.1689C22.816 24.9149 23.8236 24.407 25.0617 23.6451L19.3474 21.2641C18.4268 20.8832 17.6414 20.8908 16.9913 21.287C16.3398 21.6844 16.0141 22.3117 16.0141 23.1689C16.0141 23.9943 16.284 24.5974 16.8236 24.9784C17.3633 25.3593 18.2046 25.5498 19.3474 25.5498ZM28.8713 36.2165C29.6649 36.2165 30.3074 35.9384 30.7989 35.3822C31.2916 34.8273 31.4109 34.2482 31.157 33.6451L28.5855 27.1689C27.9824 28.1847 27.5144 29.2006 27.1817 30.2165C26.8478 31.2324 26.6808 32.153 26.6808 32.9784C26.6808 34.026 26.8636 34.8273 27.2293 35.3822C27.5938 35.9384 28.1411 36.2165 28.8713 36.2165ZM32.0141 25.6451C32.3316 25.3276 32.5855 24.9066 32.776 24.3822C32.9665 23.859 33.0617 23.3117 33.0617 22.7403C33.0617 21.7244 32.7284 20.8673 32.0617 20.1689C31.3951 19.4705 30.5697 19.1213 29.5855 19.1213C29.0141 19.1213 28.4744 19.2165 27.9665 19.407C27.4586 19.5974 27.03 19.8673 26.6808 20.2165L30.3951 21.9308L32.0141 25.6451Z" fill="#BFB2FF" />
                </svg>
            </div>
            <div class="sidebar-header__title">
                Iot Remote Laboratory
            </div>
            <div class="sidebar-header__button">
                <div class="burder-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29" fill="none">
                        <path d="M25.1875 11.875H3.8125" stroke="#9E9E9E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.1875 7.125H3.8125" stroke="#9E9E9E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.1875 16.625H3.8125" stroke="#9E9E9E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M25.1875 21.375H3.8125" stroke="#9E9E9E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar__menu sidebar__item">
        <div class="vertical-menu">
            <NavLink class="vertical-menu__item colabsed-menu-item" href="" Match="NavLinkMatch.All">
                <div class="colabsed-menu-item__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 21" fill="none">
                        <path d="M3.3125 7.6875L11 1.70833L18.6875 7.6875V17.0833C18.6875 17.5364 18.5075 17.9709 18.1871 18.2913C17.8668 18.6117 17.4322 18.7917 16.9792 18.7917H5.02083C4.56776 18.7917 4.13323 18.6117 3.81286 18.2913C3.49248 17.9709 3.3125 17.5364 3.3125 17.0833V7.6875Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8.4375 18.7917V10.25H13.5625V18.7917" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="colabsed-menu-item__text">
                    Home
                </div>
            </NavLink>

            <NavLink class="vertical-menu__item colabsed-menu-item" href="stand">
                <div class="colabsed-menu-item__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 21" fill="none">
                        <path d="M3.54312 6.445L11 10.7585L18.4569 6.445M11 19.36V10.75M18.6875 14.1667V7.33333C18.6872 7.03375 18.6081 6.73952 18.4582 6.48016C18.3083 6.22079 18.0928 6.00541 17.8333 5.85562L11.8542 2.43896C11.5945 2.28902 11.2999 2.21008 11 2.21008C10.7001 2.21008 10.4055 2.28902 10.1458 2.43896L4.16667 5.85562C3.90722 6.00541 3.69173 6.22079 3.54181 6.48016C3.39189 6.73952 3.31281 7.03375 3.3125 7.33333V14.1667C3.31281 14.4662 3.39189 14.7605 3.54181 15.0198C3.69173 15.2792 3.90722 15.4946 4.16667 15.6444L10.1458 19.061C10.4055 19.211 10.7001 19.2899 11 19.2899C11.2999 19.2899 11.5945 19.211 11.8542 19.061L17.8333 15.6444C18.0928 15.4946 18.3083 15.2792 18.4582 15.0198C18.6081 14.7605 18.6872 14.4662 18.6875 14.1667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="colabsed-menu-item__text">
                    Stand
                </div>
            </NavLink>
        </div>
    </div>

    <div class="sidebar__addition sidebar__item">
        <div class="vertical-menu">
            <a href="#" class="vertical-menu__item colabsed-menu-item">
                <div class="colabsed-menu-item__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 21" fill="none">
                        <path d="M8.51429 7.68754C8.71511 7.11667 9.11149 6.6353 9.63321 6.32868C10.1549 6.02205 10.7684 5.90997 11.3648 6.01227C11.9612 6.11458 12.5022 6.42468 12.892 6.88764C13.2817 7.3506 13.495 7.93655 13.4941 8.54171C13.4941 10.25 10.9316 11.1042 10.9316 11.1042M10.9999 14.5209H11.0085M19.5416 10.25C19.5416 14.9675 15.7174 18.7917 10.9999 18.7917C6.28249 18.7917 2.45825 14.9675 2.45825 10.25C2.45825 5.53261 6.28249 1.70837 10.9999 1.70837C15.7174 1.70837 19.5416 5.53261 19.5416 10.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="colabsed-menu-item__text">
                    Support
                </div>
            </a>
        </div>
    </div>

    <div class="sidebar__user sidebar__item">
        <div class="user-preview">
            <div class="user-preview__avatar">
                <div class="avatar-status -online">
                    <img src="img\avatar.png" />
                    <div class="avatar-status__icon" />
                </div>
            </div>
            <div class="user-preview__content">
                <div class="user-preview__name">@Session.User.Name</div>
                <div class="user-preview__email">brooklyn@simmons.com</div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public Session Session { get; set; }

    private string Name = string.Empty;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}

